.header__links {
	display: flex;
	margin: 18px 0 6px;
	align-items: flex-end;
	list-style: none;
	gap: 18px;
}

/* Media */

@media screen and (max-width: 320px) {
	.header__links {
		margin: 14px 0 8px;
	}
}